/* Responsividade - Menu Hambúrguer */
@media (max-width: 768px) {
  .header .titulo {
    font-size: 1.5em;
  }

  .header-navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .hamburger-menu {
    display: block;
  }

  .card-wrapper {
    flex-direction: column;
  }

  .card {
    max-width: 100%;
    margin: 10px 0;
  }

  .rodape-Principal {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .redes-sociais-empresa {
    justify-content: center;
    margin-top: 20px;
  }

  /* Responsividade do Banner */
  .Banner-titulo {
    background-size: cover;
    background-position: center;
    height: 400px; /* Reduz a altura para telas menores */
    margin-top: 0;
  }
}
